@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF4F3;
    --foreground: #5A82FC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: auto;
}

#popupBoxOnePosition {
  width: 100%;
  margin-top: 1rem;
}

.popupBoxWrapper {
  background: transparent;
}

.popupBoxContent {
  padding: 1rem;
}
